
/**
    FONTS
 */

@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirNextCyr-Regular.otf');
}

@font-face {
    font-family: AvenirMedium;
    src: url('../fonts/AvenirNextCyr-Medium.otf');
}

@font-face {
    font-family: AvenirBold;
    src: url('../fonts/AvenirNextCyr-Bold.otf');
}

@font-face {
    font-family: Futura;
    src: url('../fonts/futurademic.otf');
}





/**
    MISC
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

html, body {
    font-family: Avenir, Helvetica, sans-serif;
    color: #3f3f3f;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}



/*
    HEADER
 */

.header {

    width: 100%;
    height: 70px;
    background-color: #fff;
    font-size: 12px;
}

.header .container {
    display: table;
    height: 100%;
}

.header .header-wrapper {
    display: table-row;
    height: 100%;
    width: 100%;
}

.header .header-item {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.header .widget-wrapper {

}

.header .widget-wrapper .widget {
    display: inline-block;
}

.header .navigation {
    margin: 0 50px 0 200px;
    font-family: AvenirBold, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 0;
}

.header .navigation li {
    display: inline-block;
    font-size: 12px;
}

.header .navigation li a {
    padding: 10px 25px;
    text-decoration: none;
    color: #3f3f3f;
    cursor: pointer;
}

.header .language-wrapper {
    text-align: right;
}




/*
    CONTENT
 */

.content {
    position: relative;
}

.intro-wrapper {
    height: 630px;
}

.intro-wrapper .heading-wrapper {
    margin-top: 180px;
    position: relative;
}

.intro-wrapper .heading {
    font-family: Futura, sans-serif;
    font-size: 80px;
    margin-bottom: 35px;
    margin-left: -5px; /* font spacing issue fix */
}

.intro-wrapper .subheading {
    font-family: AvenirMedium, sans-serif;
    font-size: 16px;
}

.logo-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 630px;
    background-color: #ff0844;
    background: linear-gradient(to right, #ffbb99, #ff0844);
}


/*
    FOOTER
 */

.footer {

}

.footer-disclaimer {
    margin: 0 auto;
    padding: 20px 0;
    background-color: #3c3c3c;
    color: #a5a5a5;
    font-family: AvenirMedium, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}